<div class="home">
  <h2>Latest Posts</h2>
  <section class="post1">
    <% posts.filter((a, i) => i < 2).map((post, i) => {%>
    <div class="content">
      <a href="/post/<%= post._id %> " class="read">
        <img src="<%= post.cover %> " alt="cover" class="item-img" />
        <h3><%= post.title %></h3>
        <div class="name">
          <p><%= post.author %></p>
          <span>july 3, 2021</span>
        </div>
      </a>
    </div>
    <%}) %>
  </section>
  <h2>Featured Posts</h2>
  <section class="post2">
    <% posts.filter((a, i) => i >= 2 && i <= 5).map((post, i) => {%>
    <div class="content">
      <a href="/post/<%= post._id %> " class="read">
        <img src="<%= post.cover %> " alt="cover" class="item-img" />
        <div class="title">
          <h4><%= post.title %></h4>
          <div class="name">
            <p><%= post.author %></p>
            <span>- July 3, 2021</span>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </section>
</div>
