<div class="allposts mt-4">
  <h2 class="ms-4">Featured Posts</h2>
  <section class="post2">
    <% for( let i = 0; i < posts.length; i++ ) { %>
    <div class="content">
      <a href="/post/<%= posts[i]._id %> " class="read">
        <img src="<%= posts[i].cover %> " alt="cover" class="item-img" />
        <div class="title">
          <h4><%= posts[i].title %></h4>
          <div class="name">
            <p><%= posts[i].author %></p>
            <span></span>
              - <%= moment(posts[i].createdAt).format('MMMM DD, YYYY') %></span
            >
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </section>
</div>
