<div class="home">
  <h2>Featured Posts</h2>
  <div class="featured">
    <% posts.map((post, i) => {%>
    <div class="content">
      <a href="/post/<%= post._id %> " class="read">
        <div class="img-container">
          <img src="<%= post.cover %> " alt="cover" class="item-img" />
        </div>
        <h3><%= post.title %></h3>
        <div class="name">
          <p><%= post.author %></p>
          <span>- <%= moment(post.createdAt).format('MMMM DD, YYYY') %></span>
        </div>
      </a>
    </div>
    <%}) %>
  </div>
  <h2>Latest Posts</h2>
  <div class="latest">
    <% posts.map((post, i) => {%>
    <div class="content">
      <a href="/post/<%= post._id %> " class="read">
        <div class="img-container">
          <img src="<%= post.cover %> " alt="cover" class="item-img" />
        </div>
        <div class="title">
          <h4><%= post.title %></h4>
          <div class="name">
            <p><%= post.author %></p>
            <span>- <%= moment(post.createdAt).format('MMMM DD, YYYY') %></span>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
