<div class="allposts mt-4">
  <h2 class="ms-4">Posts</h2>
  <div class="posts">
    <% posts.map((post, i) => {%>
    <div class="content">
      <a href="/post/<%= post._id %> " class="read">
        <div class="img-container">
          <img src="<%= post.cover %> " alt="cover" class="item-img" />
        </div>
        <div class="title">
          <h4><%= post.title %></h4>
          <div class="name">
            <p><%= post.author %> -</p>
            <span><%= moment(post.createdAt).format('MMMM DD, YYYY') %></span>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
