<div class="singlepost container-fliud">
  <div class="img-container">
    <img src="<%= post.cover %> " alt="cover" />
  </div>

  <div class="container-fliud p-4 post-content">
    <div class="time">
      <i class="fa-regular fa-calendar"></i>
      <span class="mx-2"
        ><%= moment(post.createdAt).format('DD, MMMM, YYYY') %></span
      >
      <span class="me-2">|</span>
      <span><%= moment(post.createdAt).format('hh:mm a') %></span>
    </div>
    <h2 class="my-3 text-center"><%= post.title %></h2>
    <div class="my-3 desc"><%- post.description %></div>
    <div class="social my-4">
      <h4 class="mb-3">Share on</h4>
      <a href="https://twitter.com/intent/tweet?url=<%= url %>" target="_blank"
        ><img src="/images/twitter.png" alt="twitter"
      /></a>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>"
        target="_blank"
        ><img src="/images/facebook.png" alt="facebook"
      /></a>
      <a
        href="https://www.linkedin.com/shareArticle?url=<%= url %>"
        target="_blank"
        ><img src="/images/linkedin.png" alt="linkedIn"
      /></a>
      <a href="whatsapp://send?text=<%= url %>" target="_blank"
        ><img src="/images/whatsapp.png" alt="whatsapp"
      /></a>
    </div>
  </div>
  <!-- <div class="author-info">
    <div class="name">
      <h4><%= post.author %></h4>
      <img src="/images/card.jpg" alt="author" />
    </div>
    <div class="name">
      <h4>Writer</h4>
      <h5>Sunnews</h5>
      <p>
        George is a Chemist turned Writer, and he is senior staff of sunnews
        Nigeria. He has been with establishment for three years now.
      </p>
    </div>
  </div> -->
</div>
